/*  font-family: 'Source Sans Pro', sans-serif;  */

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  color: #404040;
  line-height: 1.6;
  text-align: center;
}

/* =================
  typography
  ================= */

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: white;
  max-width: 300px;
}

h2 {
  margin: 0;
}

h2, .header-sub {
  font-size: 1.3125rem;
}

h2, strong { font-weight: 900; }

.header-sub, .main-sub {
  color: #F18119;
  text-transform: uppercase;
  font-weight: 900;
}

.top-text, .fine-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

.top-text {
  order: -1;
  margin: 0;
  color: #F18119;
  font-weight: 900;
  border-top: #F18119 5px solid;
  padding-top: 0.3em;
  text-transform: uppercase;
}

.main-sub {
  margin-top: 0;
}

/* =================
  layout
  ================= */

header, main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 100%;
  background-color: #404040; /* In case background-image doesn't load */
  background-image: url(images/dark-ribs.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 .5em 2em;
}

main {
  padding: 2em 1em;
}

/* =================
  media queries 
  ================= */
   
@media (min-width: 500px) {
  body {
    display: flex;
    height: 100vh;
  }
  
  header {
    width: 60%;
  }
  
  main {
    width: 40%;
  }
}